<p id="notice"><%= notice %></p>

<h1>Listing Articles</h1>

<%= render 'hide_form' %>
<br>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Title</th>
      <th>Status</th>
      <th>Operation</th>
    </tr>
  </thead>
  <tbody id="sticked_articles">
		<%= render partial: 'article_item', locals:{ articles:@stickedArticles } %>
  </tbody>
  <tbody id="none_sticked_articles">
		<%= render partial: 'article_item', locals:{ articles:@noneStickedArticles } %>
  </tbody>
</table>

