// Place all the styles related to the Articles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.article_audio{
	top: 0px;
	height: 50px;
	width: 300px;
	position: fixed;
	margin-top: 5px;
	z-index: 998;
}
