// Place all the styles related to the Articles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.article_audio{
	z-index: 998;
	top: 2px;
	width: 300px;
}

.sticked_button input{
	border-color: green;
    border-width: thick;
}

#audio_player_div{
	height: 34px;
	margin-bottom: 1em;
}
