@import "bootstrap";
@import "bootstrap-responsive";

$iconSpritePath: image-path('glyphicons-halflings.png');
$iconWhiteSpritePath: image-path('glyphicons-halflings-white.png');

@media (min-width: 480px) { .container { max-width: 940px; } }

// modify jqm
.ui-content{
	padding: 2px;
}


// normal
body{
	font-family: "Open Sans",Arial,"Hiragino Sans GB","Microsoft YaHei","微软雅黑","STHeiti","WenQuanYi Micro Hei",SimSun,sans-serif;
}

h1{
	font-weight: bold;
}

img{
	height:	auto;
	max-width:	100%;
	vertical-align:	middle;
	border: 0;
}

a:hover{
	text-decoration: none;
}

